<div>
    <ion-title>Really delete this folder?</ion-title>
    <p>Lorem ipum dolor sit amet, consectuer adipiscing</p>
</div>
<ion-row>
    <ion-col size="6">
        <ion-button type="button" (click)="dismiss()">
            <ion-icon src="./assets/finder_icons/cancel.svg"></ion-icon>
        </ion-button>
    </ion-col>

    <ion-col size="6">
        <ion-button (click)="remove()">
            <ion-icon src="./assets/finder_icons/check.svg"></ion-icon>
        </ion-button>
    </ion-col>
</ion-row>