<ion-row *ngIf="activeFilterBar==='view'">
    <ion-col>
        <ion-button class="btn-sm" (click)="actionPopover($event)">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>

        <ion-button class="btn-sm" (click)="addPopover($event)">
            <ion-icon src="./assets/finder_icons/plus.svg"></ion-icon>
        </ion-button>

        <ion-button class="btn-sm" (click)="remove()">
            <ion-icon src="./assets/finder_icons/trash-delete-confirm.svg"></ion-icon>
        </ion-button>
    </ion-col>

    <ion-col>

        <ion-button [disabled]="!isChange" class="btn-md" (click)="save()">
            <ion-icon src="./assets/finder_icons/check.svg"></ion-icon>
            <ion-label>OK</ion-label>
        </ion-button>

    </ion-col>
</ion-row>

<ion-row *ngIf="activeFilterBar==='sort'">
    <ion-col>
        <ion-button class="btn-sm" (click)="return()">
            <ion-label>
                <ion-icon src="./assets/finder_icons/arrow-return.svg"></ion-icon>
            </ion-label>
        </ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
</ion-row>

<ion-row *ngIf="activeFilterBar==='filter'">
    <ion-col>
        <ion-button class="btn-sm" (click)="return()">
            <ion-label>
                <ion-icon src="./assets/finder_icons/arrow-return.svg"></ion-icon>
            </ion-label>
        </ion-button>

        <ion-button [disabled]="!isShow" class="btn-md" (click)="reset()">
            <ion-label>Reset</ion-label>
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button [disabled]="!isShow" class="btn-md" (click)="displayData()">
            <ion-icon name="checkmark-outline"></ion-icon>
            <ion-label>Show <span *ngIf="filterData&&filterData.length > 0">{{ filterData.length }}</span></ion-label>
        </ion-button>
    </ion-col>
</ion-row>