app-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    // width: 270px;
    height: calc(100vh - 55px);
    z-index: 99;
}

ion-toolbar {
    padding: 0 13px;
    ion-icon {
        font-size: 24px;
    }
}

@media screen and (min-width:400px) {
    app-menu:hover {
        transform: translate(0);
    }
}

ion-icon.user {
    width: 40px;
    height: 40px;
}