<!-- <div *ngIf="initNodes&&initNodes.length > 0"> -->
<div *ngFor="let n of nodes">
    <ion-item button lines="none" (click)="n.isExpanded = !n.isExpanded" [ngClass]="{active: n.isExpanded}">
        <ion-row [ngClass]="{m_27: !n.sub||n.sub.length == 0}">
            <ion-col>
                <span class="spanCursor">
                        <ion-icon class="nodeIcon" slot="start" *ngIf="n.sub != null&&n.sub.length > 0"  [name]="n.isExpanded ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
                    </span>
                <ion-icon *ngIf="n.icon" [src]="(n.isExpanded&&n.icon == 'folder') ? './assets/finder_icons/open-folder.svg' : './assets/finder_icons/'+n.icon+'.svg'" class="iconNode"></ion-icon>
                <ion-label>
                    {{n.title}}
                </ion-label>
            </ion-col>

            <ion-col>
                <ion-label (click)="n.toggle" class="action">
                    <ion-icon (click)="rename(n, $event)" src="./assets/finder_icons/pencil.svg"></ion-icon>
                </ion-label>

                <ion-label class="action checkbox">
                    <ion-icon (click)="toggleCheck(n, $event)" [src]="n.isChecked ? './assets/finder_icons/checkbox-on.svg' : './assets/finder_icons/checkbox-off.svg'"></ion-icon>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-item>

    <!-- Recursive call -->
    <div class="indent">
        <app-tree-node [nodes]="n.sub" *ngIf="n.sub" [hidden]="!n.isExpanded"></app-tree-node>
    </div>
</div>
<!-- </div> -->

<!-- <ion-label *ngIf="initNodes&&initNodes.length == 0" class="noData">No data!</ion-label> -->