.zoom {
    zoom: 100%;
}

.zoom1 {
    zoom: 110%;
}

.zoom2 {
    zoom: 120%;
}

.zoom3 {
    zoom: 130%;
}

.zoom4 {
    zoom: 140%;
}

.zoom5 {
    zoom: 150%;
}

.zoomOut1 {
    zoom: 90%;
}

.zoomOut2 {
    zoom: 80%;
}

.zoomOut3 {
    zoom: 70%;
}

.zoomOut4 {
    zoom: 60%;
}

.zoomOut5 {
    zoom: 50%;
}